.MovieRating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;

    .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        background-color: white;
        color: black;
        font-weight: 600;

        p {
            font-size: 0.7rem;
            margin-top: 2px;
        }
    }
}