.App {
    width: 100vw;
    height: 100vh;
    background-color: #242424;
    overflow-y: auto;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
        width: 100%;
        height: 11%;
        background-color: white;
        color: black;

        ul {
            display: flex;
            column-gap: 10px;
        }
    }

    #banners {
        background-color: grey;
        height: calc(100vh - 11%);
    }

    #popular, #upcoming {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 30px 60px 120px 60px;
        row-gap: 50px;

        background-color: aqua;

        .title {
            font-size: 2rem;
        }

        .popular-content, .upcoming-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 80px;
            row-gap: 100px;
            width: 100%;
        }
    }

    #newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 100px 0;
        row-gap: 50px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        padding: 30px;
        background-color: white;

        .icons {
            display: flex;
            justify-content: center;
            width: 100%;
            column-gap: 40px;

            svg {
                transform: scale(1.6);
            }

            span {
                width: 40%;
                border-bottom: 2px solid black;
            }
        }

        .information {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: .8rem;
            }

            .anchors {
                display: flex;
                margin-top: 8px;
                column-gap: 20px;
                text-decoration: underline;

                .divider {
                    width: 1px;
                    background-color: black;
                    border-radius: 1px;
                }

                span {
                    cursor: pointer;
                }
            }
        }
    }
    
}